

<mat-sidenav-container class="Hamburguesa">
  <mat-sidenav #sidenav mode="push">
    <mat-list role="list" class="lista menu-container">
     
      <!-- <a class="menu-btn" routerLink="usuarios" (click)="sidenav.toggle()"><i class="bi bi-info-circle-fill icon"></i><strong>Acerca de nosotros</strong><i class="underline"></i></a> -->
      <a class="letrasBarra" (click)="logout(); sidenav.toggle()" routerLink="login" ><strong>Cerrar sesion</strong><i class="underline"></i></a>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="bg">
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>___ </span>
        <span class="info">Hola {{actualUser.NombreUsuario}}!</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

