
  <!DOCTYPE html>
  
<html lang="en">
  <head>
    
  </head>
  <body>
    
    <div class="contenedor">
      <a class="cuadro" routerLink="/almacenes">
        <div><h1>Almacenes</h1></div>
      </a>
      <a class="cuadro" routerLink="/categoriamodulos">
        <div><h1>Categoria de Modulos</h1></div>
      </a>
      <a class="cuadro" routerLink="/clientes">
        <div><h1>Clientes</h1></div>
      </a>
      <a class="cuadro" routerLink="/detalletickets">
        <div><h1>Detalle de Tickets</h1></div>
      </a>
      <a class="cuadro" routerLink="/detallemovimiento">
        <div><h1>Detalles de Movimiento</h1></div>
      </a>
      <a class="cuadro" routerLink="/detalleperfil">
        <div><h1>Detalle de Perfil</h1></div>
      </a>
      <a class="cuadro" routerLink="/empleados">
        <div><h1>Empleados</h1></div>
      </a>
      <a class="cuadro" routerLink="/existencias">
        <div><h1>Existencias</h1></div>
      </a>
      <a class="cuadro" routerLink="/modulos">
        <div><h1>Modulos</h1></div>
      </a>
      <a class="cuadro" routerLink="/modulosusuario">
        <div><h1>Modulos Usuario</h1></div>
      </a>
      <a class="cuadro" routerLink="/movimientosinventario">
        <div><h1>Movimientos de Inventario</h1></div>
      </a>
      <a class="cuadro" routerLink="/perfiles">
        <div><h1>Perfiles</h1></div>
      </a>
      <a class="cuadro" routerLink="/personas">
        <div><h1>Personas</h1></div>
      </a>
      <a class="cuadro" routerLink="/puestos">
        <div><h1>Puestos</h1></div>
      </a>
      <a class="cuadro" routerLink="/rutas">
        <div><h1>Rutas</h1></div>
      </a>
      <a class="cuadro" routerLink="/sucursalsede">
        <div><h1>Sucursal sede</h1> </div>
      </a>
      <a class="cuadro" routerLink="/tickets">
        <div><h1>Tickets</h1></div>
      </a>
      <a class="cuadro" routerLink="/usuarios">
        <div><h1>Usuarios</h1></div>
      </a>
      <a class="cuadro" routerLink="/puntodeventa">
        <div><h1>punto de venta</h1></div>
      </a>
    </div>
    
 
  </body>
</html>