body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5f5;
  }
  .cuadro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin: 10px;
    background-color: #a76f06;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    flex: 1 1 calc(33.333% - 20px); /* Responsividad */
  }
  .cuadro:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  .cuadro div {
    padding: 10px;
  }
  @media (max-width: 1200px) {
    .cuadro {
      flex: 1 1 calc(50% - 20px);
    }
  }
  @media (max-width: 768px) {
    .cuadro {
      flex: 1 1 calc(100% - 20px);
    }
  }