
  <!DOCTYPE html>
  
<html lang="en">
  <head>
    
  </head>
  <body>
    
    <div class="contenedor">
      <a class="cuadro" routerLink="/almacenes">
        <div>Almacenes</div>
      </a>
      <a class="cuadro" routerLink="/categoriamodulos">
        <div>Categoria de Modulos</div>
      </a>
      <a class="cuadro" routerLink="/clientes">
        <div>Clientes</div>
      </a>
      <a class="cuadro" routerLink="/detalletickets">
        <div>Detalle de Tickets</div>
      </a>
      <a class="cuadro" routerLink="/detallemovimiento">
        <div>Detalles de Movimiento</div>
      </a>
      <a class="cuadro" routerLink="/detalleperfil">
        <div>Detalle de Perfil</div>
      </a>
      <a class="cuadro" routerLink="/empleados">
        <div>Empleados</div>
      </a>
      <a class="cuadro" routerLink="/existencias">
        <div>Existencias</div>
      </a>
      <a class="cuadro" routerLink="/modulos">
        <div>Modulos</div>
      </a>
      <a class="cuadro" routerLink="/modulosusuario">
        <div>Modulos Usuario</div>
      </a>
      <a class="cuadro" routerLink="/movimientosinventario">
        <div>Movimientos de Inventario</div>
      </a>
      <a class="cuadro" routerLink="/perfiles">
        <div>Perfiles</div>
      </a>
      <a class="cuadro" routerLink="/personas">
        <div>Personas</div>
      </a>
      <a class="cuadro" routerLink="/puestos">
        <div>Puestos</div>
      </a>
      <a class="cuadro" routerLink="/rutas">
        <div>Rutas</div>
      </a>
      <a class="cuadro" routerLink="/sucursalsede">
        <div>Sucursal Sede</div>
      </a>
      <a class="cuadro" routerLink="/tickets">
        <div>Tickets</div>
      </a>
      <a class="cuadro" routerLink="/usuarios">
        <div>Usuarios</div>
      </a>
    </div>
 
  </body>
</html>