<mat-sidenav #sidenav mode="side" class="sidenav">
    <!-- Contenido del menú -->
    <div class="contenedor">
      <mat-nav-list class="barra">
        <img src="assets/logo quirey limpio.png" alt="Icono" width="150" height="150">
        <a class="letrasBarra" routerLink="/almacenes">Almacenes</a>
<a class="letrasBarra" routerLink="/categoriamodulos">Categoria de Modulos</a>
<a class="letrasBarra" routerLink="/clientes">Clientes</a>
<a class="letrasBarra" routerLink="/detalletickets">Detalle de Tickets</a>
<a class="letrasBarra" routerLink="/detallemovimiento">Detalles de Movimiento</a>
<a class="letrasBarra" routerLink="/detalleperfil">Detalle de Perfil</a>
<a class="letrasBarra" routerLink="/empleados">Empleados</a>
<a class="letrasBarra" routerLink="/existencias">Existencias</a>
<a class="letrasBarra" routerLink="/modulos">Modulos</a>
<a class="letrasBarra" routerLink="/modulosusuario">Modulos Usuario</a>
<a class="letrasBarra" routerLink="/movimientosinventario">Movimientosde Inventario</a>
<a class="letrasBarra" routerLink="/perfiles">Perfiles</a>
<a class="letrasBarra" routerLink="/personas">Personas</a>
<a class="letrasBarra" routerLink="/puestos">Puestos</a>
<a class="letrasBarra" routerLink="/rutas">Rutas</a>
<a class="letrasBarra" routerLink="/sucursalsede">Sucursal Sede</a>
<a class="letrasBarra" routerLink="/tickets">Tickets</a>
<a class="letrasBarra" routerLink="/usuarios">Usuarios</a>

      </mat-nav-list>
    </div>
  </mat-sidenav>